*{
	margin: 0;
	padding: 0;
}

/* COMMON
**************************************************/
body{
	font-family: 'Merriweather', serif;
	font-size: 15px;
	line-height: 2em;
	font-weight: 300;
	color: #2C353C;
	text-align: center;
}

h1{
	font-weight: 400;
	margin-bottom: 1.6em;
}

p{
	margin-bottom: 1em;
}

li{
	list-style: none;
	display: block;
}

.inner{
	width: 990px;
	text-align: left;
	margin: 0 auto;
}

.inner-small{
	width: 500px;
	text-align: left;
	margin: 0 auto;
}

section h2{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #888;
}


h1.heading{
	padding: 2em 0;
	width: 990px;
	text-align: center;
	margin: 0 auto;
	color: #888;
	font-size: 30px;
	line-height: 1.5em;
	font-weight: 300;
}

a.custom-link{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #aaa;
	text-decoration: none;
	border: 1px solid #aaa;
	border-radius: 40px;
	padding: .3em 1.2em;
	font-weight: 300;
	position: relative;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

a.custom-link:hover{
	padding: .3em 3em .3em 1.2em;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

a.custom-link:after{
	content:'';
	display: block;
	width: 8px;
	height: 12px;
	background: url(../images/arrow-right-gray.svg) no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
	margin-left: -4px;
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

a.custom-link:hover:after{
	right: 1.2em;
	opacity: 1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

/* Header
**************************************************/
header{
	background: rgba(255,255,255,.9);
	padding: 19px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	z-index: 20;
}

header .inner{
	text-align: center!important;
}

header #back-home{
	text-decoration: none;
	color: #2C353C;
	display: inline-block;
	line-height: 1em;
}

header #back-home:hover h1, header #back-home:hover h2{
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	opacity: 0;
}

header #back-home:after{
	content:'';
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 15px;
	left: 50%;
	margin-left: -25px;
	background: url('../images/home.svg') 50% 50% no-repeat;
	border: 1px solid #ddd;
	border-radius: 50px;
	background-size: 16px 16px;
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

header #back-home:hover:after{
	opacity: 1;	
	background-size: 24px 24px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
} 

header h1{
	font: 400 15px/1em 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin: 0 0 5px;
	opacity: 1;
	display: inline-block;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

header h2{
	color: #888;
	font: 300 12px/1em 'Open Sans', sans-serif;
	margin: 0;
	opacity: 1;
	display: inline-block;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

header .contact{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #888;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

header .contact:hover{
	color: #333;
}


/* Bio
**************************************************/
#bio{
	padding: 120px 0;
	background: url(../images/jupelletier.jpg) no-repeat 100% 50% #eeeeee;
	position: relative;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

#bio h1{
	line-height: 1.6em;
}

#bio .content{
	width: 40%;
}

#bio .credit{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #888;	
	position: absolute;
	bottom: 5px;
	right: 10px;
	margin-bottom: 0;
}

#bio .credit a{
	color: #888;
}

#bio a.custom-link{
	margin-top: 10px;
	color: #2C353C;
	border-color: #2C353C;
	font-weight: bold;
	border-width: 2px;
	opacity: 0.7;
}

#bio a:after{
	background: url(../images/arrow-right-black.svg) no-repeat;
}

/* Work list
**************************************************/
#work-list{
	overflow: auto;
}

#work-list li{
	font-family: 'Open Sans', sans-serif;
	display: block;
	float: left;
	list-style: none;
	width: 470px;
	height: 240px;
	color: white;
	position: relative;
	margin-bottom: 50px;
}

#work-list li:nth-child(2n){
	margin-left: 50px;
}

#work-list a{
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

#work-list img{
	position: absolute;
	top: 60px;
	left: 30px;
	z-index: 30;
}

#work-list span{
	border: 2px solid white;
	border-radius: 40px;
	padding: .3em 1.2em;
	font-weight: 600;
	position: absolute;
	top: 140px;
	left: 30px;
	z-index: 30;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list a:hover span{
	padding: .3em 3em .3em 1.2em;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list a span:after{
	content:'';
	display: block;
	width: 8px;
	height: 12px;
	background: url(../images/arrow-right.svg) no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	margin-left: -4px;
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list a:hover span:after{
	right: 1.2em;
	opacity: 1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .cookening a{
	background: url(../images/work-list-cookening.jpg) 50% 50% no-repeat;
	background-size: 100%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .cookening a:hover{
	background: url(../images/work-list-cookening.jpg) 50% 50% no-repeat;
	background-size: 108%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .lec a{
	background: url(../images/work-list-lec.jpg) 50% 50% no-repeat;
	background-size: 100%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .lec a:hover{
	background: url(../images/work-list-lec.jpg) 50% 50% no-repeat;
	background-size: 108%;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .lec img{
	top: 90px;
}

#work-list a:hover:after{
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50,50,50,.3);
	z-index: 10;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#work-list .liive{
	background: #00A1E6;
}


#work-list .tmc{
	background: #FF5809;
}



/* Cookening
**************************************************/

#cookening-banner{
	margin-top: 80px;
	height: 400px;
	background: url(../images/fullpage-banner-cookening.jpg) 50% 50% no-repeat;
	background-size: cover;
	margin-bottom: 40px;
}

#cookening p{
	margin-bottom: 2em;
}


#cookening-table-hero{
	margin-top: 40px;
	padding: 50px 0;
	background: #eee;
	margin-bottom: 40px;
}

#cookening-profile{
	margin-bottom: 40px;
}

#cookening-profile h2{
	margin-bottom: 40px;
}

#cookening-profile p{
	width: 500px;
	margin: 0 auto 2em;
	
}

#cookening-profile-details{
	overflow: auto;
}

#cookening-profile-details li{
	display: block;
	float: left;
}

#cookening-profile-details li:nth-child(2n){
	margin-left: 30px;
}

#cookening-misc{
	background-color: #222;
	padding: 50px 0 0;
}

#cookening-misc-list li{
	margin-bottom: 40px;
	z-index: 10;
}


/* LEC
*************************************************/

#lec-banner{
	margin-top: 80px;
	padding: 30px 0 20px;
	background: #00a1e6;
	background-size: cover;
	margin-bottom: 40px;
}

#lec-comptaneo-hero{
	margin-top: 40px;
	padding: 50px 0 25px;
	background: #27B5F1;
	margin-bottom: 40px;
}

#lec-portail-hero{
	margin-top: 40px;
	height: 380px;
	background: url("../lec/images/lec-portail-hero.jpg") 50% 50% no-repeat;
	margin-bottom: 40px;
}

#lec-tmc{
	margin-bottom: 40px;
}

#lec-tmc h2{
	margin-bottom: 40px;
}

#lec-tmc p{
	width: 500px;
	margin: 0 auto 2em;
	
}

#lec-tmc-details{
	overflow: auto;
}


#lec-tmc-details li{
	display: block;
	float: left;
	margin-bottom: 20px;
}

#lec-tmc-details li:nth-child(2n){
	margin-left: 30px;
}

#lec-misc{
	background-color: #222;
	padding: 50px 0 0;
}

#lec-misc-list li{
	margin-bottom: 40px;
	z-index: 10;
}

/* Role
*************************************************/
#role .inner{
	overflow: auto;
	padding: 40px 0;
	border-bottom: 1px solid #ddd;
}

#role p{
	text-align: left;
	font-size: 14px;
	color: #aaa;
	float: left;
	line-height: 50px;
	margin: 0;
}

#role a{
	float: right;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #aaa;
	text-decoration: none;
	border: 1px solid #aaa;
	border-radius: 40px;
	padding: .3em 1.2em;
	font-weight: 300;
	position: relative;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#role a:hover{
	padding: .3em 3em .3em 1.2em;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#role a:after{
	content:'';
	display: block;
	width: 8px;
	height: 12px;
	background: url(../images/arrow-right-gray.svg) no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
	margin-left: -4px;
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#role a:hover:after{
	right: 1.2em;
	opacity: 1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

/* Footer
*************************************************/
#social-links{
	margin-bottom: 40px;
}

#social-links li{
	display: inline-block;
	text-align: center;
	width: 33%;
	position: relative;
}

#social-links a{
	color: #888;
	text-decoration: none;
	display: block;
}

#social-links li:nth-child(2) a{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#social-links p{
	margin-bottom: 10px;
}

#social-links img{
	margin-bottom: 10px;
}

#social-links span{
	font-family: 'Open Sans', sans-serif;
	color: #aaa;
	text-decoration: none;
	border: 1px solid #aaa;
	border-radius: 40px;
	padding: .3em 1.2em;
	font-weight: 300;
	position: relative;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#social-links a:hover span{
	padding: .3em 3em .3em 1.2em;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#social-links span:after{
	content:'';
	display: block;
	width: 8px;
	height: 12px;
	background: url(../images/arrow-right-gray.svg) no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	margin-left: -4px;
	opacity: 0;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#social-links a:hover span:after{
	right: 1.2em;
	opacity: 1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

footer{
	text-align: center!important;
	padding: 10px 0 40px;
	font-size: 11px;
}

footer ul{
	margin: 20px 0;
}

footer li{
	display: inline-block;
	margin: 0 30px;
}

footer a{
	color: #888;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

footer a:hover{
	color: #333;
}